TOKEN="rtenmraengmen"
BACKEND_API="http://127.0.0.1:8080/api"

AI_API=http://localhost:11434/v1/chat/completions
AI_MODEL_INTENT=discord-intent
AI_MODEL_RESPOND=discord-respond
ALERT_CHANNEL_ID="1391205043457491044"
AI_CHANNEL_ID="1391205043457491044"
